<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Landing Page Medica.ly</title>
  <link rel="stylesheet" href="sobre.component.scss">
</head>
<body>
  <main>
    <section class="content">
      <h1>Nosso Projeto</h1>
      <p>Somos uma plataforma de agendamento de consultas e administração de atendimentos de saúde. Facilitamos a vida de médicos e usuários, proporcionando um processo rápido e eficiente.</p>
      <p>Nossa abordagem whitelabel permite personalização e integração fácil para diferentes instituições de saúde.</p>
    </section>
  </main>
</body>
</html>
