.cta-button:hover {
  background-color: #003366;
}

.features {
  margin-top: 50px;
}

.feature-item {
  margin-bottom: 20px;
}

.feature-item h2 {
  color: #0056b3;
}

.feature-item p {
  color: #444;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.center-content {
  text-align: center;
}
