<main>
    <section class="sobre">
        <h1>Sobre o Medica.ly</h1>
        <p>O Medica.ly é uma plataforma de gerenciamento de consultas e agendamentos, desenvolvida para facilitar a interação entre médicos, 
            pacientes e unidades de saúde. Nosso objetivo é oferecer uma solução white label que permita uma gestão eficiente e personalizada, 
            melhorando a experiência de todos os envolvidos no processo de cuidado à saúde.</p>
    </section>
    <section class="meus-resultados">
        <h2>Meus Resultados</h2>
        <p>Os resultados dos seus exames e consultas estão disponíveis de forma rápida e segura na plataforma Medica.ly.
         Acesse seus dados sempre que precisar, com total segurança e privacidade.</p>
    </section>
</main>

<footer>
    <p>&copy; 2024 Medica.ly. Todos os direitos reservados.</p>
    <a routerLink="/home">Tela inicial</a>
</footer>
