.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.center-content {
    text-align: center;
}

.form-group {
    display: flex;
    flex-direction: column;
    align-items: center;
}

a{
    text-decoration: none;
    color: #0059c5;
}

mat-form-field {
  width: 100%;
}
