<div class="container" *ngIf="carregado">
    <div class="center-content">
        <h1>Login</h1>
        <form [formGroup]="loginForm" class="form-group">
            <mat-form-field appearance="fill">
                <mat-label>Email</mat-label>
                <input formControlName="email" matInput placeholder="Placeholder">
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Senha</mat-label>
                <input type="password" formControlName="password" matInput placeholder="Placeholder">
            </mat-form-field>
            <div class="submit-container">
              <span></span>
              <button [disabled]="!podeSalvar" (click)="onSubmit()" mat-raised-button color="primary" type="submit">Fazer login</button>
              <span *ngIf="!salvando"></span>
              <p-progressSpinner *ngIf="salvando" [style]="{width: '40px', height: '40px'}" ></p-progressSpinner>
            </div>
        </form>
        <p>Ainda não tem cadastro conosco? <a routerLink="/notAuth/cadastro-paciente">Clique aqui.</a></p>
    </div>
</div>
