<div class="container">
  <h1>Hospital X</h1>

  <mat-tab-group>
    <mat-tab label="Profissional">
      <app-dashboard-profissionais></app-dashboard-profissionais>
    </mat-tab>

    <mat-tab label="Pacientes">
      <app-dashboard-pacientes></app-dashboard-pacientes>
    </mat-tab>

    <mat-tab label="Administradores">
      <app-dashboard-administrador></app-dashboard-administrador>
    </mat-tab>

    <mat-tab label="Unidades de Atendimento">
      <app-dashboard-unidades></app-dashboard-unidades>
    </mat-tab>

    <mat-tab label="Especialidades">
      <app-dashboard-especialidades></app-dashboard-especialidades>
    </mat-tab>
  </mat-tab-group>
</div>
