<div class="container">
  <div class="overlay"></div>
  <div class="center-content">
    <h1 id="sub-header">Plataforma de Gerenciamento e Agendamento de Consultas Online</h1>
    <div class="options">
      @if (!auth.autenticado) {
        <a href="notAuth/login?tipoUsuario=2">Acessar</a>
        <a href="/notAuth/login?tipoUsuario=0">Acessar como Administrador</a>
        <a href="/notAuth/login?tipoUsuario=1">Acessar como Profissional</a>
        <a href="/notAuth/cadastro-paciente">Cadastrar-se</a>
      } @else {
        <a href="/contato">Contato</a>
      }
      <a href="/contato">Contato</a>
      <a href="/sobre">Sobre Nós</a>
    </div>
    <div class="features">
      <div class="feature-item">
        <h2>Agendamento Simplificado</h2>
        <p>Marque consultas e exames de forma rápida e fácil, sem demoras na busca por profissionais.</p>
      </div>
      <div class="feature-item">
        <h2>Resultados Online</h2>
        <p>Acesse seus resultados e atestados médicos de qualquer lugar, a qualquer hora.</p>
      </div>
      <div class="feature-item">
        <h2>Recomendações de Farmácias</h2>
        <p>Receba recomendações de farmácias confiáveis para seus medicamentos e produtos de saúde.</p>
      </div>
      <div class="feature-item">
        <h2>Perfil Personalizado</h2>
        <p>Cadastre-se e tenha um perfil personalizado para facilitar seu atendimento e acompanhamento de saúde.</p>
      </div>
    </div>
  </div>
</div>
