<div class="container">
  <h1> Cadastro </h1>
  <form [formGroup]="form" *ngIf="carregado">
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Nome</mat-label>
        <input formControlName="nome" matInput placeholder="Digite seu nome">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Sobrenome</mat-label>
        <input formControlName="sobrenome" matInput placeholder="Digite seu sobrenome">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>CPF</mat-label>
        <input [imask]="cpfMask" [unmask]="true" formControlName="cpf" matInput placeholder="Digite seu CPF">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Selecione uma Data</mat-label>
        <input matInput formControlName="dataNascimento" [max]="maxDate" [min]="minDate" [matDatepicker]="picker">
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>


      <mat-form-field class="example-full-width">
        <mat-label>Email</mat-label>
        <input type="email" matInput formControlName="email" placeholder="Ex. pat@example.com">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Telefone</mat-label>
        <input [imask]="telefoneMask" [unmask]="true" formControlName="telefone" matInput
          placeholder="Digite seu telefone">
      </mat-form-field>


    </div>
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Senha</mat-label>
        <input type="password" formControlName="enha" matInput placeholder="Digite sua senha">
      </mat-form-field>


    </div>

    <mat-radio-group aria-label="Select an option" formControlName="genero">
      <mat-radio-button [value]="generos.Masculino">Homem</mat-radio-button>
      <mat-radio-button [value]="generos.Feminino">Mulher</mat-radio-button>
      <mat-radio-button [value]="generos.Outro">Outro</mat-radio-button>
    </mat-radio-group>

    <button mat-raised-button type="button" color="primary" [disabled]="!podeSalvar" (click)="salvar()"> Prosseguir
    </button>

  </form>
</div>