:host{
    display: flex;
    justify-content: center;
    height: 100%;
  }
  
  .container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 60%;
    align-items: center;
  
  
    form{
      display: flex;
      flex-direction: column;
      div{
        display: grid;
        grid-template-columns: 50% 50%;
        gap: 16px;
  
      }
      button{
        width: 55%;
  
      }
    }
  }
  
  