:host{
  margin-top: 100px;
  display: flex;
  justify-content: center;
}

.container{
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 30%;
  align-items: center;


  form{
    display: flex;
    flex-direction: column;
  }
}

