<div class="container">
  <h1> Cadastro </h1>
  <form [formGroup]="form" *ngIf="carregado">
      <mat-form-field appearance="fill">
        <mat-label>Nome</mat-label>
        <input formControlName="nome" matInput placeholder="Digite seu nome">
      </mat-form-field>

      <mat-form-field appearance="fill">
          <mat-label>Sobrenome</mat-label>
          <input formControlName="sobrenome" matInput placeholder="Digite seu sobrenome">
        </mat-form-field>

      <mat-form-field appearance="fill">
          <mat-label>CPF</mat-label>
          <input formControlName="cpf" matInput placeholder="Digite seu CPF">
        </mat-form-field>

    <mat-form-field>
      <mat-label>Selecione uma Data</mat-label>
      <input matInput [matDatepicker]="picker">
      <mat-hint>DD/MM/AAAA</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker ></mat-datepicker>
    </mat-form-field>


    <mat-form-field class="example-full-width">
      <mat-label>Email</mat-label>
      <input type="email" matInput formControlName="email" placeholder="Ex. pat@example.com">
    </mat-form-field>

      <mat-form-field appearance="fill">
          <mat-label>Telefone</mat-label>
          <input formControlName="telefone" matInput placeholder="Digite seu telefone">
        </mat-form-field>



      <mat-form-field appearance="fill">
          <mat-label>Gênero</mat-label>
          <input formControlName="genero" matInput placeholder="Selecione seu gênero">
        </mat-form-field>

    <button mat-raised-button color="primary">Prosseguir</button>

  </form>
</div>
