<mat-drawer-container class="container" autosize>
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <div class="logo-container mat-typography">
        <button class="medicaly-icon" (click)="navegar(['/'])">
          <img src="assets/medica.ly-icon.jpeg" alt="Medica.ly">
          <h3>Medica.ly</h3>
        </button>

        @if (authentication.autenticado && authentication.user) {
          <h4 class="mat-h3 mat-subheading-2">{{ authentication.user.nome }}</h4>
          <h4>|</h4>
          <h5>{{ getTipoUsurio() }}</h5>
        }
        @if (!authentication.autenticado && tipoUsuario != null) {
          <h5>{{ getTipoUsurio(tipoUsuario) }}</h5>
        }
      </div>

      <span class="spacer"></span>
      <button mat-icon-button class="example-icon" (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>
  <router-outlet/>

  <mat-drawer #drawer class="sidenav" mode="side" position="end">
    <button mat-fab extended color="primary" (click)="navegar(['/'])">
      <mat-icon>home</mat-icon>
      Tela Inicial
    </button>

    <button mat-fab extended color="primary" *ngIf="!authentication.autenticado"
            (click)="navegar(['/notAuth/ß'], loginPacienteParams)">
      <mat-icon>login</mat-icon>
      Acessar
    </button>

    <button mat-fab extended color="primary" *ngIf="!authentication.autenticado"
            (click)="navegar(['/notAuth/login'], loginAdministradorParams)">
      <mat-icon>login</mat-icon>
      Acesso Administrador
    </button>

    <button mat-fab extended color="primary" *ngIf="!authentication.autenticado"
            (click)="navegar(['/notAuth/login'], loginProfissionalParams)">
      <mat-icon>login</mat-icon>
      Acesso profissional
    </button>

    <button mat-fab extended color="primary"
            *ngIf="authentication.autenticado &&  authentication.user?.tipo === tiposUsuario.Paciente"
            (click)="navegar(['/auth/list-medicos'], loginProfissionalParams)">
      <mat-icon>favorite</mat-icon>
      Agendar Procedimento
    </button>

    <button
      mat-fab
      extended
      color="primary"
      (click)="navegar(['/auth/ver-agendamento'])"
      *ngIf="authentication.autenticado && authentication.user?.tipo === tiposUsuario.Paciente">
      <mat-icon>event</mat-icon>
      Meus agendamentos
    </button>

    <button
      mat-fab extended
      color="primary"
      *ngIf="!authentication.autenticado"
      (click)="navegar(['/notAuth/cadastro-paciente'])"
    >
      <mat-icon>person_add</mat-icon>
      Cadastrar-se
    </button>

    <button
      mat-fab
      extended
      color="primary"
      *ngIf="authentication.autenticado && authentication.user?.tipo === tiposUsuario.Administrador"
      (click)="navegar(['/auth/dashboard-adm'])"
    >
      <mat-icon>dataset</mat-icon>
      Dashboard
    </button>

    <button
      mat-fab
      extended
      color="primary"
      (click)="navegar(['/', 'contato'])">
      <mat-icon>contact_mail</mat-icon>
      Contato
    </button>

    <button
      mat-fab
      extended
      color="primary"
      (click)="navegar(['/','sobre'])">
      <mat-icon>public</mat-icon>
      Sobre Nós
    </button>

    <button
      mat-fab
      extended
      color="primary"
      *ngIf="authentication.autenticado && authentication.user?.tipo === tiposUsuario.ProfissionalSaude"
      (click)="navegar(['/auth/agenda-medico'])"
    >
      <mat-icon>calendar_today</mat-icon>
      Minha Agenda

    </button>

    <button
      mat-fab
      extended
      color="primary"
      (click)="authentication.sair()"
      *ngIf="authentication.autenticado">
      <fa-icon class="icon" [icon]="sairIcon"></fa-icon>
      Sair
    </button>
  </mat-drawer>
</mat-drawer-container>

<p-toast></p-toast>




