:host{
  display: flex;
  flex-direction: column;
  app-root{
    height: 100%;
  }
}

.spacer {
    flex: 1 1 auto;
  }


.medicaly-icon{
    height: 50px;
    width: 50px;
    margin-right: 16px;
}

::ng-deep{

  .sidenav > div {
    display: flex;
      flex-direction: column;
      align-items: center;

      gap: 6px;
      button {
          min-width: 170px;
          max-width: 170px;
      }
  }
  mat-drawer-content {
    overflow: unset !important;
  }

  .sidenav {
    width: 200px !important;
  }

}

mat-drawer-container {
  height: 100%;
}


.sidenav button,
.sidenav a {
  margin-right: 8px;
}

.button-disabled {
  display: inline-block;
}