  
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <img class="medicaly-icon" src="assets/medica.ly-icon.jpeg">
      <span>Medica.ly</span>
      <span class="example-spacer"></span>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="menu"></mat-icon>

      </button>

    </mat-toolbar-row>
  </mat-toolbar>




<app-tela-cadastro>

</app-tela-cadastro>






<router-outlet />
