<div class="container">
    <h1> Cadastro de Endereço</h1>
    <form [formGroup]="form" *ngIf="carregado">

        <div>
            <mat-form-field class="example-full-width">
                <mat-label>CEP</mat-label>
                <input matInput  formControlName="cep" id="cep" maxlength="8" placeholder="Ex. 80500505" value="94043">
                <mat-hint align="end">{{tamanhoCep}} / 8</mat-hint>
            </mat-form-field>
            <span></span>
            <span></span>
            <mat-form-field class="example-full-width">
                <mat-label>Endereço</mat-label>
                <input matInput  formControlName="logradouro" id="logradouro" matInput placeholder="Ex. Rua Isac Ferreira">
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <mat-label>Número</mat-label>
                <input matInput  id="numero" placeholder="Ex. 69">
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <mat-label>Complemento</mat-label>
                <input matInput  formControlName="complemento" id="complemento" placeholder="Ex. Casa">
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>Cidade</mat-label>
                <input matInput formControlName="cidade" placeholder="Ex. Apto 10A">
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>Bairro</mat-label>
                <input matInput  formControlName="bairro" id="bairro" placeholder="Ex. Boqueirão">
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <mat-label>Estado</mat-label>
                <input matInput formControlName="uf" id="uf" matInput placeholder="Ex. Paraná">
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <mat-label>Observações</mat-label>
                <textarea matInput  formControlName="observacao" id="obs" matInput placeholder="Ex. Ao lado da pucpr" cdkTextareaAutosize> </textarea>
            </mat-form-field>



        </div>

        <button mat-raised-button color="primary"> Concluir </button>

    </form>
</div>