<div class="container" *ngIf="!etapaAdministradorFinalizado && carregado">
  <h1> Cadastro Profissional</h1>
  <form [formGroup]="formGroup">
    <mat-form-field appearance="fill" class="nome">
      <mat-label>Nome</mat-label>
      <input formControlName="nome" matInput placeholder="Digite seu nome">
    </mat-form-field>

    <mat-form-field appearance="fill" class="sobrenome">
      <mat-label>Sobrenome</mat-label>
      <input formControlName="sobrenome" matInput placeholder="Digite seu sobrenome">
    </mat-form-field>

    <mat-form-field appearance="fill" class="cpf">
      <mat-label>CPF</mat-label>
      <input [imask]="cpfMask" [unmask]="true" formControlName="cpf" matInput placeholder="Digite seu CPF">
    </mat-form-field>

    <mat-form-field class="data-nascimento">
      <mat-label>Data de Nascimento</mat-label>
      <input matInput formControlName="dataNascimento" [max]="maxDate" [min]="minDate" [matDatepicker]="picker">
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-radio-group aria-label="Select an option" class="genero" formControlName="genero">
      <mat-radio-button [value]="generos.Masculino">Homem</mat-radio-button>
      <mat-radio-button [value]="generos.Feminino">Mulher</mat-radio-button>
      <mat-radio-button [value]="generos.Outro">Outro</mat-radio-button>
    </mat-radio-group>

    <mat-form-field class="email">
      <mat-label>Email</mat-label>
      <input type="email" matInput formControlName="email" placeholder="Ex. pat@example.com">
    </mat-form-field>

    <mat-form-field appearance="fill" class="telefone">
      <mat-label>Telefone</mat-label>
      <input [imask]="telefoneMask" [unmask]="true" formControlName="telefone" matInput
             placeholder="Digite seu telefone">
    </mat-form-field>

    <mat-form-field appearance="fill" class="senha">
      <mat-label>Senha</mat-label>
      <input formControlName="senha" matInput type="password" placeholder="Digite a senha">
    </mat-form-field>

    <button mat-raised-button class="prosseguir" color="primary" [disabled]="!formGroup.valid" (click)="etapaAdministradorFinalizado = true">Prosseguir</button>
  </form>
</div>

<app-endereco-form
  *ngIf="etapaAdministradorFinalizado && carregado"
  (setEndereco)="setEndereco($event)"
></app-endereco-form>
