
<div class="container">
    <h1> Cadastro de Endereço</h1>
    <form [formGroup]="form" *ngIf="carregado">

        <div>
            <mat-form-field class="example-full-width">
                <mat-label>CEP</mat-label>
                <input [imask]="cepMask" [unmask]="true"  matInput  formControlName="cep" id="cep" maxlength="9" placeholder="Ex. 80500-505">
                <mat-hint align="end">{{tamanhoCep}} / 8</mat-hint>
            </mat-form-field>

            <span></span>
            <span></span>

            <mat-form-field class="example-full-width">
                <mat-label>Logradouro</mat-label>
                <input matInput  formControlName="logradouro" id="logradouro" matInput placeholder="Ex. Rua Isac Ferreira">
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <mat-label>Número</mat-label>
                <input matInput type="number" id="numero" formControlName="numero" placeholder="Ex. 69">
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <mat-label>Complemento</mat-label>
                <input matInput  formControlName="complemento" id="complemento" placeholder="Ex. Casa">
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <mat-label>Cidade</mat-label>
                <input matInput formControlName="cidade" placeholder="Ex. Apto 10A">
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <mat-label>Bairro</mat-label>
                <input matInput  formControlName="bairro" id="bairro" placeholder="Ex. Boqueirão">
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <mat-label>Estado</mat-label>
                <input matInput formControlName="estado" id="estado" matInput placeholder="Ex. PR">
            </mat-form-field>

            <mat-form-field class="menssagem-height">
                <mat-label>Observações</mat-label>
                <textarea matInput  formControlName="observacao" id="obs" matInput placeholder="Ex. Ao lado da PUCPR" cdkTextareaAutosize> </textarea>
            </mat-form-field>
        </div>

        <button mat-raised-button color="primary" [disabled]="!podeSalvar" (click)="salvar()"> Concluir </button>

    </form>
</div>
