<div class="container">
  <div>
    <h1>Entre em contato</h1>
    <p>Estamos localizado na PUC-PR parana</p>
    <p>curitba prado velho isso mesmo prado</p>
    <p> velho em curitiba parana brasil!</p>
    <div class="icon-button-row">
      <div class="example-button-container">
        <button mat-fab color="primary" aria-label="Example icon button with a delete icon">
          <mat-icon>facebook</mat-icon>
        </button>
      </div>
      <div class="example-button-container">
        <button mat-fab color="accent" aria-label="Example icon button with a bookmark icon">
          <mat-icon>facebook</mat-icon>
        </button>
      </div>
      <div class="example-button-container">
        <button mat-fab color="warn" aria-label="Example icon button with a home icon">
          <mat-icon>facebook</mat-icon>
        </button>
      </div>
      <div class="example-button-container">
        <button mat-fab disabled aria-label="Example icon button with a heart icon">
          <mat-icon>facebook</mat-icon>
        </button>
      </div>
    </div>

  </div>
  <div>
    <form class="example-form">
      <mat-form-field class="example-full-width">
        <mat-label>Seu nome</mat-label>
        <input matInput placeholder="Ex. Victor Gustavo Rafael Luis da Silva">
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Seu email</mat-label>
        <input matInput placeholder="Ex. olx.ativapay@gmail.com">
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Menssagem</mat-label>
        <textarea matInput rows="5" cdkTextareaAutosize placeholder="Ex. A não sei o que não sei o que la"></textarea>
      </mat-form-field>
      <button mat-raised-button color="primary"> Enviar </button>
    </form>
  </div>

</div>
