<div>
    <div class="medicos-container" >
        @for (medico of medicos; track $index) {
            <mat-card class="example-card">
                <mat-card-header>
                    <mat-card-title>{{medico.nome}} {{medico.sobrenome}}</mat-card-title>
                    <mat-card-subtitle>Atuacao: <span *ngFor="let a of medico.atuacoes">{{a.nome}}</span></mat-card-subtitle>

                </mat-card-header>

                <mat-card-content>
                    <p>Email: {{medico.email}}</p>
                    <p>Telefone: {{medico.telefone}}</p>
                    <p>CRM: {{medico.credencialDeSaude}}</p>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-flat-button color="primary" (click)="navegar(medico.id)">Agendar</button>
                </mat-card-actions>
            </mat-card>
        }
    </div>

</div>

