@use '@angular/material' as mat;

@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";

@include mat.core();

$bv-brand: (
    50: #ffffff,
    100: #77B0FD,
    200: #77B0FD,
    300: #77B0FD,
    400: #77B0FD,
    500: #77B0FD,
    600: #77B0FD,
    700: #77B0FD,
    800: #77B0FD,
    900: #77B0FD,
    A100: #ffffff,
    A200: #77B0FD,
    A400: #77B0FD,
    A700: #77B0FD,
    contrast: (
        50: white,
        100: white,
        200: white,
        300: white,
        400: white,
        500: white,
        600: white,
        700: white,
        800: white,
        900: white,
        A100: white,
        A200: white,
        A400: white,
        A700: white,
    )
);

$medicaly\.front-primary: mat.define-palette($bv-brand);
$medicaly\.front-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

$medicaly\.front-warn: mat.define-palette(mat.$red-palette);

$medicaly\.front-theme: mat.define-light-theme((
  color: (
    primary: $medicaly\.front-primary,
    accent: $medicaly\.front-accent,
    warn: $medicaly\.front-warn,
  ),
  typography: mat.define-typography-config(),
  density: 0
));

@include mat.all-component-themes($medicaly\.front-theme);


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
