<div>
  <div *ngIf="procedimentos"></div>
  @for (item of procedimentos; track $index) {
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title> {{item.status}} no dia {{item.data}}</mat-card-title>
        <mat-card-subtitle>Médico {{item.idProfissional}}</mat-card-subtitle>
      </mat-card-header>
    </mat-card>
  }


  <div class='demo-app'>

    <div class='demo-app-main'>
      <full-calendar #calendar *ngIf='calendarVisible()' [options]='calendarOptions()'>
        <ng-template #eventContent let-arg>
          <b>{{ arg.timeText }}</b>
          <i>{{ arg.event.title }}</i>
        </ng-template>
      </full-calendar>
    </div>

  </div>

</div>
